body {
    background-image: url("https://www.freevector.com/uploads/vector/preview/30347/Creative_Geometric_Background.jpg");
    background-color: #cccccc;
     }
.navbox{ 
    background:white;
    margin-left:800px;
    width:auto;}

    #about {
        font-family: 'Zilla Slab', serif;
        color:black}

    #portfolio {
        font-family: 'Zilla Slab', serif;
        color:black; }    

    #contact { 
        font-family: 'Zilla Slab', serif;
        color:black }


   .name{
       font-family: 'Zilla Slab', serif;
       background:teal;
       color:white;
       font-size:30px;
       padding:10px 1px;
        }


.container2 {
    background:white;
    height: 480px; 
    width:auto; 
    margin-left: 50px;}

.aboutme2 {font-family: 'Zilla Slab', serif;
    
    font-size: 35px;
    color:teal;
    padding: 25px 35px;
    border-bottom: 1px solid black  }   

#LJpic {height:250px;
    width: 250px; 
    margin-top: 10px; 
    padding: 10px 10px;}


.paragraph1 {font-family:'Zilla Slab', serif;
        padding: 10px;
        font-size: 20px;}


    .card-footer {background:white;
        height:150%; 
        margin-top: 20px;
        margin-bottom:5px}


    .seccontacts {background:white;
        height: 480px; 
        width:auto; 
        margin-left: 50px;}
        
     
     .contact-description {font-size:35px;
        color:teal;
        padding: 40px 40px;
        border-bottom: 1px solid black}

    form {
        margin-top:10px;
        margin-left:40px}

.portfolio-description {font-size:35px;
    color:teal;
    padding: 40px 40px;
    border-bottom: 1px solid black}


.secportfolio {background:white;
    height: 480px; 
    width:auto; 
    margin-left: 50px;}


    
    

     