body {
    background-image: url("https://www.freevector.com/uploads/vector/preview/30347/Creative_Geometric_Background.jpg");
    background-color: #cccccc;
     }
.navbox{background:rgb(19, 250, 11);
    margin-left:800px}


   .name{font-family: 'Zilla Slab', serif;
       background:teal;
       color:white;
       font-size:30px;
       padding:10px 1px;
        }


.container {background:white; height: 90px; width: auto; } 



.austin {background:teal;
    color:white;
    font-family:'Zilla Slab', serif;
    font-size: 17px; 
    margin-top: 10px;
    padding:20px 40px;
    width: 175px; }


section {background-color:rgb(250, 252, 248); width:auto;}


.container2 {background:white;
    height: 480px; 
    width:auto; 
    margin-left: 50px;
    
    }

.aboutme2 {font-family: 'Zilla Slab', serif;
    
    font-size: 35px;
    color:teal;
    padding: 25px 35px;
    border-bottom: 1px solid black  }   

#LJpic {height:250px;
    width: 250px; 
    margin-top: 10px; 
    padding: 10px 10px; 
    
}

.paragraph1 {font-family:'Zilla Slab', serif;
        padding: 10px;
        font-size: 20px;
    
    }
    .card-footer {background:seashell;
        height:auto; 
        opacity:0.9;
        margin-top: 10px;}


    .seccontacts {font-family:'Zilla Slab', serif;
        height:500px}
        
     
     .Description {font-size:35px;
        color:teal;
        padding: 40px 40px;
        border-bottom: 1px solid black}

        






    

     